[submodule "static/foundation"]
	path = static/foundation
	url = git@github.com:zurb/foundation-sites.git
[submodule "static/crevasse"]
	path = static/crevasse
	url = git@github.com:patbenatar/crevasse.git
